.header {width: 100%; display: flex; align-items: center; justify-content: space-between; padding: 24px 0;}
.header .header_logo {}
.header .header_logo .logo_img {width: 100%; max-width: 142px; height: auto;}
.header .header_actions {display: flex; align-items: center; gap: 10px;}
.header .header_actions .header_btn {border-radius: var(--btn_border_radius); padding: var(--btn_padding); color: #fff; font-size: 14px;}
.header .header_actions .btn_style {background-color: var(--main_color);}
.header .header_actions .header_todo_btn {background-color: var(--point_color);}
.header .header_actions .header_todo_btn span {font-weight: 700;}

@media (max-width: 1400px) {
    .header {padding:  24px 20px;}
}
@media (max-width: 960px) {
    
}
@media (max-width: 640px) {
    .header .header_logo .logo_img {max-width: 100px;}
    .header .header_actions .header_btn {font-size: 12px; padding: var(--m_btn_padding);}
}