.home {display: flex; justify-content: space-between; width: 100%;}
.home .todo_section {width: calc(100% / 3 - 8px);}
.home .todo_section .title_box {align-items: center; background-color: var(--main_bg_color); border-radius: var(--section_border-radius); display: flex; gap: 10px; margin-bottom: 16px; padding: 12px 20px;}
.home .todo_section .title_box .title_icon path {fill: var(--main_color);}
.home .todo_section .title_box h2 {color: var(--main_color); font-size: 20px; font-weight: 700;}
.home .todo_section .scroll_box { background-color: var(--main_bg_color);  border-radius: var(--section_border-radius);  display: flex;  flex-direction: column;  max-height: calc(100vh - 160px);  overflow: hidden;  padding: 0;}
.home .todo_section .scroll_box:not(.empty) {height: auto; padding: 20px;}
.home .todo_section .scroll_box .todo_list {box-sizing: border-box; flex: 1 1; overflow-y: auto; transition: height .4s;}
.home .todo_section .scroll_box .todo_list .empty_msg {color: var(--main_gray_color); display: grid; font-size: 14px; height: 110px; place-content: center;}
/* 스크롤바 감지 */
.home .todo_section .scroll_box.has-scroll,.home .todo_section .scroll_box.has-scroll .todo_list {padding-right: 10px;}
/* 스크롤 바 css */
.home .todo_section .scroll_box .todo_list::-webkit-scrollbar {height: 100%; width: 5px;}
.home .todo_section .scroll_box .todo_list::-webkit-scrollbar-thumb {background-color: var(--point_color); border-radius: 3px;}
.home .todo_section .scroll_box .todo_list::-webkit-scrollbar-track {background-color: #fff;}

@media (max-width: 1400px) {
    .home {padding:0 20px;}
}

@media (max-width: 780px) {
    .home {flex-wrap: wrap; gap: 50px;}
    .home .todo_section {width: 100%;}
    .home .todo_section .scroll_box {max-height: none; overflow: auto;}
    .home .todo_section .scroll_box .todo_list {max-height: none; overflow-y:unset;}
    .home .todo_section .title_box {background-color: var(--point_color);}
    .home .todo_section .title_box h2 {color: #fff;}
    .home .todo_section .title_box .title_icon path {fill: #fff;}
    .home .todo_section .scroll_box.has-scroll, .home .todo_section .scroll_box.has-scroll .todo_list {padding-right: 0;}
}
@media (max-width: 450px) {
    .home .todo_section .scroll_box:not(.empty) {padding: 15px;}
    .home .todo_section .scroll_box {padding: 15px;}
}