.join_page {width: calc(100% - 40px); max-width: 438px; padding: 30px 20px; border: 1px solid var(--disabled_color); border-radius: 30px; margin: 100px auto 0;}
.join_page h2 {margin-bottom: 30px;}
.join_page h2 .logo_img {width: 100%; height: auto;}
.join_page form {}
.join_page form input {background-color: var(--main_bg_color); border: none; border-radius: 30px; width: 100%; height: 50px; padding: 0 20px;}
.join_page form input:focus {outline: none;}
.join_page form input::placeholder {font-size: 12px; color: var(--main_gray_color);}
.join_page form .password_wrapper {position: relative; margin: 15px auto;}
.join_page form .password_wrapper .password_icon {position: absolute; top: 50%; transform: translateY(-50%); right: 20px;}
.join_page form .password_wrapper .password_icon path {fill: var(--main_color);}
.join_page form button {margin-top: 30px; cursor: pointer; width: 100%; height: 50px; border-radius: var(--btn_border_radius); text-align: center; font-size: 12px; color: #fff; font-weight: 700; border: none; background-color: var(--point_color);}

/* 에러 났을 때 */
.join_page form input.input_error {border: 1px solid var(--error_color); color: var(--error_color); text-decoration: underline;}
.input_wrapper input.input_error:focus {border-color: var(--error_color) !important; outline: none;}
.join_page form .error_text {margin-top: 15px; padding-left: 20px; font-size: 10px; color: var(--error_color);}
.join_page form .password_wrapper.error .password_icon {margin-top: -10px;}


@media (max-width: 640px) {
    .join_page {margin-top: 50px;}
}