.login_page {width: calc(100% - 40px); max-width: 438px; padding: 30px 20px; border: 1px solid var(--disabled_color); border-radius: 30px; margin: 100px auto 0;}
.login_page h2 {margin-bottom: 30px;}
.login_page h2 .logo_img {width: 100%; height: auto;}
.login_page form {}
.login_page form input {background-color: var(--main_bg_color); border: none; border-radius: 30px; width: 100%; height: 50px; padding: 0 20px;}
.login_page form input:focus {outline: none;}
.login_page form input::placeholder {font-size: 12px; color: var(--main_gray_color);}
.login_page form .password_wrapper {margin: 10px auto 30px; position: relative;}
.login_page form .password_wrapper .password_icon {position: absolute; top: 50%; transform: translateY(-50%); right: 20px;}
.login_page form .password_wrapper .password_icon path {fill: var(--main_color);}
.login_page form button {cursor: pointer; width: 100%; height: 50px; border-radius: var(--btn_border_radius); text-align: center; font-size: 12px; color: #fff; font-weight: 700; border: none; background-color: var(--point_color);}
.login_page form button.login {margin-bottom: 10px;}
.login_page form button.join {background-color: var(--main_color);}

@media (max-width: 640px) {
    .login_page {margin-top: 50px;}
}